<h1><%= instruction.name %></h1>	
<strong><%= t "instruction.category.title" %>: <%= category.name %></strong>
<strong><%= instruction.video_url.sub('https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/') %></strong>