<script class="image_upload_script">
  $(".cloudinary-fileupload")
    .cloudinary_fileupload({
      dropZone: "#direct_upload",
      start: function (e) {
        $(".status").text("Starting upload...");
      },
      progress: function (e, data) {
        $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
      },
      fail: function (e, data) {
        $(".status").text("Upload failed");
      }
    })
    .off("cloudinarydone")
    .on("cloudinarydone", function (e, data) {
      console.log('done!');
      console.log(data.result.public_id.length);
      $('#direct_upload').hide();
      $("#photo_bytes").val(data.result.bytes);
      $(".status").text("");
      var preview = $(".preview").html('');
      $.cloudinary.image(data.result.public_id, {
        format: data.result.format, width: 50, height: 50, crop: "fit"
      }).appendTo(preview);
      $('<a/>').
        addClass('delete_by_token').
        attr({href: '#'}).
        data({delete_token: data.result.delete_token}).
        html('&times;').
        appendTo(preview).
        click(function(e) {
          e.preventDefault();
          $.cloudinary.delete_by_token($(this).data('delete_token')).done(function(){
            $('.preview').html('');
            $('#info').html('');
            $("#photo_bytes").val('');
            $('input[name="photo[image]"]').remove();
            $('#direct_upload').show();
          }).fail(function() {
            $('.status').text("Cannot delete image");
        });
      });
      view_upload_details(data.result);
    });
  // });
  function view_upload_details(upload) {
    // Build an html table out of the upload object
    var rows = [];
    $.each(upload, function(k,v){
      rows.push(
        $("<tr>")
          .append($("<td>").text(k))
          .append($("<td>").text(JSON.stringify(v))));
    });
    $("#info").html(
      $("<div class=\"upload_details\">")
        .append("<h2>Upload metadata:</h2>")
        .append($("<table>").append(rows)));
  }
</script>