// function createStep () {
// 	var number = setNumber();
// 	var stepElement = $("<div>" + number + "</div>");
// 	stepElement.addClass('ui-state-default');
// 	$('#sortable').append(stepElement);
	
// }
// function setNumber () {
// 	var length = $('.ui-state-default').length + 1;
// 	return length;
// }

// createStep();

$('body').append("<%= escape_javascript(render 'form') %>");
