// Place all the styles related to the instructions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;
$link-text: #777;

.instruction-show-link{
  background: $brand-primary;;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  display: inline-block;
  margin-bottom: 1em;
}
a.instruction-show-link:hover{
	color: white;
}
.instruction-edit-link{
	background: $brand-primary;;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  display: inline-block;
}
.instruction-edit-delete-link{
	width: 50%;
	display: inline-block;
	border-radius: 0px !important;
	margin: 0px;
	border: 0px !important;
	box-sizing: border-box;
	float: left;
}
#instruction_edit_save_button{
	width: 50%;
	display: inline-block;
	border-radius: 0px;
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
}