// Place all the styles related to the steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;
$link-text: #777;

.steps-field{
	border: 2px solid $brand-primary;
	border-radius: 3px;
	// height: 500px;
	margin: 10px 0;
	overflow: auto;
}
#sortable { 
 	list-style-type: none; 
 	margin: 0; 
 	padding: 0; 
 	width: 100%; 
 	min-height: 200px;
}
#sortable>div {
 margin: 10px 9px 0 5px; 
 padding: 1px; 
 float: left; 
 width: 170px; 
 height: 170px; 
 text-align: left; 
 box-sizing: border-box;
 position: relative;
}
#sortable div p{
 	font-size: 11px;
 	color: black;
}
.form-shadov{
 	position: fixed;
 	top: 0px;
 	left: 0px;
 	width: 100vw;
 	height: 100vh;
 	background: rgba(0, 0, 0, .5);
}
.step-form{
 	background: white;
 	border: 1px solid $brand-primary;
 	position: absolute;
 	width: 50%;
 	padding: 50px 25px 25px;
 	border-radius: 5px;
 	height: 80vh;
 	top: 50%;
 	left: 50%;
 	transform-origin: 50% 50%;
 	transform: translate(-50%, -50%);
}
.close-button{
 	height: 30px;
 	width: 30px;
 	border-radius: 5px;
 	background: transparent;
 	border: 2px solid $brand-danger;
 	position: absolute;
 	box-sizing: border-box;
 	top: -1px;
 	right: -1px;
 	padding: 5px 6px;
}
.close-button:hover{
 	cursor: pointer;
 	background: $brand-danger;
 	color: white;
}
.steps-save-link{
	border-radius: 3px;
	background: $brand-primary;
	text-decoration: none;
	padding: 5px 8px;
	color: white;
}
.step-delete-link{
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  right: -9px;
  font-size: 0.9em;
  padding: 4px;
  color: white;
  background: #d9534f;
  border-radius: 50%;
}
.step-image-preview{
  width: 160px;
  margin: 0 auto;
  display: block;
}
.edit-step-link{
  
}

/////////////////////////////////////////////////////


#posterframe { position: absolute; right: 10px; top: 10px; }
#logo { height: 51px; width: 241px; }

.photos, .albums { border-bottom: 1px solid #aaa }
.content { margin-top: 50px; }
.actions { margin: 20px 0; }
.upload_link { color: #000; border: 1px solid #aaa; background-color: #e0e0e0; 
	font-size: 18px; padding: 5px 10px; width: 250px; margin: 10px 0 20px 0; 
	font-weight: bold; text-align: center; text-decoration: none; margin: 5px; }

.photo, .album { margin: 10px; padding: 10px; border-top: 2px solid #ccc; }
.photo .thumbnail, .album .thumbnail { margin-top: 10px; display: block; max-width: 200px; border: none; }
.toggle_info { margin-top: 10px; font-weight: bold; color: #e62401; display: block; }
.thumbnail_holder { height: 182px; margin-bottom: 5px; margin-right: 10px; }
.info td, .uploaded_info td { font-size: 12px }
.note { margin: 20px 0}

.more_info, .show_more_info .less_info { display: none; }
.show_more_info .more_info, .less_info { display: inline-block; }
.inline { display: inline-block; }


.basic_form { padding: 20px 20px; margin: 20px 0;
  border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

.basic_form h1 { margin: 0 0 15px 0; }

.back_link { font-weight: bold; display: block; font-size: 16px; margin: 10px 0; }

form { border: 1px solid #ddd; margin: 15px 0; padding: 15px 0; border-radius: 4px; }
form .form_line { margin-bottom: 20px; }
form .form_controls { margin-left: 180px; }
form label { float: left; width: 160px; padding-top: 3px; text-align: right; }
form .error { color: #c55; margin: 0 10px; }

#direct_upload { border: 4px dashed #ccc; }

.upload_details { font-size: 12px; margin: 20px; border-top: 1px solid #ccc; word-wrap: break-word; }
.preview { position: relative; }
.preview .delete_by_token { position: absolute; top: 0; left: -12px; text-decoration: none; line-height: 9px; font-size: 12px; }


.upload_button_holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.upload_button_holder .upload_button {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  background-color: rgb(15, 97, 172);
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.upload_button_holder:hover .upload_button {
  background-color: rgb(17, 133, 240);
}

.upload_button_holder .cloudinary-fileupload {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}